body {
    padding-top: 10vh;
}
 
.music-card {
    width: 250px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.2), 0 8px 25px rgba(0, 0, 0, 0.1); 
    overflow: hidden;
    margin: 20px;
    text-align: center;
    position: relative;
    transition: transform 0.3s ease-in-out;
}
 
.music-card:hover {
    transform: translateY(-5px);
}
 
.cover-container {
    position: relative;
    width: 100%;
    height: 250px;
    overflow: hidden;
}
 
.music-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.4s ease-in-out;
}
 
.cover-container:hover .music-cover {
    transform: scale(1.1);
}
 
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}
 
.cover-container:hover .overlay {
    opacity: 1;
}
 
.play-icon {
    color: white;
    font-size: 3rem;
    transition: transform 0.2s ease-in-out;
}
 
.play-icon:hover {
    transform: scale(1.3);
}
 
.music-card-body {
    padding: 15px;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 0 0 15px 15px;
    position: relative;
    background: linear-gradient(to bottom, transparent, rgba(255, 255, 255, 0.8));
}
 
.music-card-body h5 {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
    color: #333;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
}
 
.music-card-body p {
    font-size: 0.9rem;
    color: #666;
    margin: 5px 0;
}
 
.scroll-container {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-align: center;
}
 
.scroll-text {
    display: inline-block;
    white-space: nowrap;
    position: relative;
    transition: transform 0.5s ease-in-out;
}
 
.scrollable:hover {
    animation: smoothScroll 4s ease-in-out;
}
 
.scrollable:active {
    animation: smoothScroll 4s ease-in-out;
}
 
@keyframes smoothScroll {
    0% {
        transform: translateX(0%);
    }
    40% {
        transform: translateX(-50%);
    }
    60% {
        transform: translateX(-50%);
    }
    100% {
        transform: translateX(0%);
    }
}
 
@media (max-width: 768px) {
    .music-card {
        width: 90%;
        margin: 15px auto;
    }
}